@media #{$mobile-widths} {
    .team__text {
        width: 340px;
        padding: 0 5px;
        margin-bottom: 20px;
    }
    .team__items {
        width: 370px;
    }
}

@media #{$tablet-widths} {
    .team__text {
        width: 600px;
    }
    .team__items {
        width: 760px;
    }
}

@media #{$desktop-widths} {
    .team__text {
        width: 930px;
    }
    .team__items {
        width: 1170px;
    }
}

.team {
    padding-top: 60px;
    padding-bottom: 52px;
}

.team__title {
    @include heading-h2;
}

.team__text {
    @include page-text;
    width: 930px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}

.team__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.team__item {
    width: 370px;
}

.team__item {
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
        transition: transform 1s;
    }
}

.team__item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6px;
}

.team__user-name {
    width: 272px;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    align-self: center;
}

.team__social-list {
    width: 98px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.team__social-item {
    list-style-type: none;
    padding-left: 5px;
}

.team__position {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #919191;
    margin-top: -3px;
}